<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <h1>Welcome to the profile of <%= person %> </h1>
    <p> <strong>Age: <%= data.age %> </strong> </p>
    <p> <strong>Job: <%= data.job %> </strong> </p>
    <h2>Hobbies</h2>
    <ul>
        <% data.hobbies.forEach(function(hobby){ %>
            <li> <%= hobby %> </li>
        <% }); %>
    </ul>
</body>
</html>
<!-- * keep in my these notes will block this file from running!! -->
<!-- copy delete and then paste them back -->

<!-- 
    line 10: 
    is used so that the this page when opened on broswer will contain what nav.ejs has on its file
    in this case, nav.ejs has more 2 links. a home and a contact link. when open, due to the placement
    of the include being ontop of the h1 the links will appear in that location
-->